@import url('https://fonts.googleapis.com/css?family=Lato');

html, body, .container, .app-container {
  height: 100%;
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

.block {
  display: block;
}

.col-3 {
  flex: 3;
}

.col-6 {
  flex: 6;
}

.col-9 {
  flex: 9;
}

.col-12 {
  width: 100%;
}

.row {
  display: flex;
}

.header {
  text-align: center;
}

.form-container {
  padding-left: 3em;
}

.group {
  margin-bottom: 4em;
}

.group label {
  padding-bottom: 0.85em;
  display: block;
}

.group input {
  border: none;
  border-bottom: 1px solid black;
  font-size: 1em;
}

.group input:focus {
  border-bottom: 1px solid blue;
}

.group button {
  padding: 1em;
  font-size: 1em;
  background-color: #07bf0d;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: 600;
}

.one_way_list_item {
  display: flex;
  align-items: center;
  height: 60px;
  border-radius: 0.28571429rem;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
  margin: 1.1em 1em;
  padding: 1em;
}

.one_way_list_item , .code_info, .origin_info, .destination_info, .duration_info, .fare_info, .book_one_way {
  flex: 1;
}

.book_one_way button{
  width: 50%;
  color: #ffffff;
  background-color: #7e42ce;
  border: none;
  padding: 0.5em 1em;
  font-size: 0.85em;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 500;
}
